{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ answer.title }}</h1>
<h2>{{ answer.description }}</h2>
<div class="content">{{ answer.content }}</div>

<h3>Leave a comment</h3>

<form action="/api/create_comment" method="POST">
    <input type="hidden" name="answer_id" value="{{ answer.id }}" />
    <label for="inp_user_email">Email</label><input value="{{ randname }}@cherry.drop" type="text" name="user_email" id="inp_user_email" />
    <br />
    <label for="inp_content">Comment</label>
    <textarea name="content" id="inp_content">This answer is almost information-free. I think I am now less informed than I was before reading it.</textarea>
    <br />
    <input type="submit" value="post comment" />
</form>
{% endblock %}
