{% extends 'base.html.twig' %}

{% block body %}
    <h1>Answers</h1>
    <h2>New Answer</h2>
    <form action="/api/create_answer" method="POST">
        <label for="inp_title">Title</label><input type="text" id="inp_title" name="title" value="a new answer" />
        <br />
        <label for="inp_user_email">Email</label><input type="text" id="inp_user_email" name="user_email" value="{{ randname }}@cherry.drop" />
        <br />
        <label for="inp_description">Description</label><input type="text" id="inp_description" name="description" value="this is a sort of answer to some kind of question" />
        <br />
        <label for="inp_content">Content</label><textarea id="inp_content" name="content" rows="10" cols="60">When thinking about the Byzantine Empire I always think it best to remember that it was not a tea party, but an empire.</textarea>
        <br />
        <input type="submit" value="post answer" />
    </form>
        
    <h2>Existing Answers</h2>
    <ul>
        {% for a in answers %}
            <li><a href="{{ a.url }}">{{ a.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

